footer {
  width: 100%;
  height: 717px;
  background-color: #c7ecee;

  .magazine-topics {
    @media screen and (min-width: 1024px) {
      text-align: center;
    }

    h4 {
      margin: 0;
      padding: 40px 0 10px 20px;
      text-transform: uppercase;
      color: #34495e;

      @media screen and (min-width: 768px) {
        text-align: center;
      }
    } // end of h4

    .topics {
      width: 49%;
      display: inline-block;
      color: #34495e;

      @media screen and (min-width: 768px) {
        width: 32%;
      }

      &#list3 {
        display: none;

        @media screen and (min-width: 768px) {
          display: inline-block;
        }

        @media screen and (min-width: 1024px) {
          margin-left: -50px;
        }
      } // end of list3

      li {
        @media screen and (min-width: 1024px) {
          float: left;
          margin-right: 30px;
        }
      }

      @media screen and (min-width: 1024px) {
        width: 27%;
        margin: 40px 0 0 0;
        padding: 0;
      }
    } // end of topics
  } // end of magazine-topics

  .content {
    position: relative;
    top: 40%;

    p {
      text-align: center;
      color: #34495e;
    }
  } // end of content
} // end of footer
