.button-decoration {
  display: block;
  position: relative;
  top: 80%;
  margin: 0 auto;
  width: 188px;
  height: 48px;
  border: none;
  border-radius: 11px;
  font-size: 20px;
  color: #2f3542;
  background-color: white;
  text-align: center;
}
